# push to package registry
twine==3.2.0

# tests
pytest==6.2.*
pytest-cov==2.11.*
flake8==3.8.*

# docs
sphinx>=3.0
sphinx-autodoc-typehints>=1.6.0,<2.0    # new 1.11.0
doc8>=0.8.0,<1.0                        # new 0.8.1

# localizations
dennis>=0.9,<1.0
blessings>=1.7,<2.0
